@model IEnumerable<RentalManagement.Models.MaintenanceRequest>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompletedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestDetail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusDetail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FixDetail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoursSpent)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompletedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestDetail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusDetail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FixDetail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoursSpent)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
