@model IEnumerable<RentalManagement.Models.Occupancy>

@{
    ViewBag.Title = "Order Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>

<!--
What Data to grab:
    Rental with price per month?
    Applicant: Name,Email,Details
    Full Address: StreetAddress,Province,Country,PostalCode
    Tenant: Name,Email,Details
    Asset: isOccuupied,Name,Address, Rent
-->

@foreach (var item in Model)
{
    @Html.Raw("Client Name: ") @Html.DisplayFor(modelItem => item.ClientID.Name)
    <br />
    @Html.Raw("Address: ") @Html.DisplayFor(modelItem => item.AssetID.Address.StreetAddress)
    @Html.Raw(" ")
    @Html.DisplayFor(modelItem => item.AssetID.Address.Province)
    @Html.Raw(" ")
    @Html.DisplayFor(modelItem => item.AssetID.Address.Country)
    <br />
    @Html.Raw("Start Date: ") @Html.DisplayFor(modelItem => item.StartDate)
    <br />
    @Html.Raw("End Date: ") @Html.DisplayFor(modelItem => item.EndDate)
    <br />
    @Html.Raw("Monthly Rental Fee: ") @Html.DisplayFor(modelItem => item.AssetID.AskingRent)
}


<br />
<br />
<br />

<p><a class="btn btn-default" href="Accounting/PaymentDetails">Book &raquo;</a></p>