@model IEnumerable<RentalManagement.Models.Occupancy>


@{
    ViewBag.Warning = "Do you wish to confirm your purchase?";
    ViewBag.Title = "Order Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<!--
What Data to grab:
    Rental with price per month?
    Applicant: Name,Email,Details,AssetID
    Full Address: ID,MyProperty,StreetAddress,Province,Country,PostalCode
    Tenant: Name,Email,Details
    Asset: isOccuupied,Name,Address, Rent
-->
@foreach (var item in Model)
{
    @Html.Raw("Client Name: ") @Html.DisplayFor(modelItem => item.ClientID.Name)
    <br />
    @Html.Raw("Street Address: ") @Html.DisplayFor(modelItem => item.AssetID.Address.StreetAddress)
    <br />
    @Html.Raw("Province: ") @Html.DisplayFor(modelItem => item.AssetID.Address.Province)
    <br />
    @Html.Raw("Country: ") @Html.DisplayFor(modelItem => item.AssetID.Address.Country)
    <br />
    @Html.Raw("Postal Code:") @Html.DisplayFor(modelItem => item.AssetID.Address.PostalCode)
    <br />
    @Html.Raw("Start Date:") @Html.DisplayFor(modelItem => item.StartDate)
    <br />
    @Html.Raw("End Date:") @Html.DisplayFor(modelItem => item.EndDate)
    <br />
    @Html.Raw("Monthly Rental Fee: ") @Html.DisplayFor(modelItem => item.AssetID.AskingRent)
    <br />
    @Html.Raw("Addional Details:") @Html.DisplayFor(model => item.Detail)
    <br />
    <br />
    using (Html.BeginForm("OrderDetails"))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(modelItem => item.ID);
        @Html.HiddenFor(modelItem => item.AssetID)
        @Html.HiddenFor(modelItem => item.ClientID)
        @Html.HiddenFor(modelItem => item.StartDate)
        @Html.HiddenFor(modelItem => item.Detail)

        <input type="submit" class="btn btn-default" value="Submit" />
    }
}

<br />
<br />
<br />
<!--- We will be using the rental model
    ID - From Occupancy
    AssetID - From Occupancy
    ClientID - From Occupancy
    NegotiatedOn - SYSTime()
    Details - Occupancy
    -->
<!-- Final confirmation page-->
